<div class="list" ng-controller="TasksController">
  <form data-abide id="add-tasks-form">
    <div class="row">
      <div class="large-12 column">
        <label>Name<small>required</small>
          <input type="text" ng-model="name" required/>
        </label>
        <label>Description
          <input type="text" ng-model="description"/>
        </label>
        <label>Deadline<small>required</small>
          <datepicker>
            <input type="text" ng-model="deadline" required/>
          </datepicker>
        </label>
        <label>Assigned User
          <select ng-init="" ng-model="assigned" ng-options="user as user.name for user in users"></select>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 column">
        <a id="user-add-submit" class="button small" ng-click="addTask()">Submit</a>
      </div>
    </div>
    <p id="user-status" ng-bind="status">{{ status }}</p>
  </form>
</div>