$orange         : #BD3613;
$blue           : #2176C7;
$wet-asphalt: #34495e;
$odd-sec-background: #ecf0f1;
$even-sec-background: #3498db;
$sec-link-highlight: #2c3e50;
$header-footer-background: #8e44ad;
$carousel-nav: #95a5a6;
$amethyst: #9b59b6;
$sunflower: #f1c40f;
$pomegranate: #c0392b;

$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;


$body-font: Helvetica;
